<div class="jumbotron">
  <h1 class=''>Bienvenido a {{title}}, Ironhacker!</h1>
  <p class="lead"></p>
  <hr class="my-4">
  <p class=''>Aquí encontrarás los restaurantes más TOP de Ironhack Madrid</p>
  <p class=''><a href='/user/signup'>Regístrate</a> para poder guardar tus favoritos y tus opiniones!</p>
  <p class=''><a href='/user/login'>Accede</a> si ya estás registrado</p>
  <p class="lead">
    <form action ='/restaurants/list'>
    <button type="submit" class="btn btn-lg btn-primary">Lista de restaurantes</button>
    </form>
  </p>
</div>