<div class="jumbotron">
  <h1 class=''>Bienvenido a {{title}}, Ironhacker!</h1>
  <p class="lead"></p>
  <hr class="my-4">
  <p class=''>Aquí encontrarás los restaurantes más TOP de Ironhack Madrid</p>
  <p class=''><a href='/user/signup'>Regístrate</a> para poder guardar tus favoritos y tus opiniones!</p>
  <p class=''><a href='/user/login'>Accede</a> si ya estás registrado</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg " href="/restaurants/list" role="button">Lista de restaurantes</a>
  </p>
</div>