<h1>Hola {{user.username}}!</h1>
<br>
<div class='profile bg-white-text-center'>
    <p>¿Dónde comemos hoy?</p>

    <a href="/restaurants/favs">Mis favoritos</a><br>

    <a href="/restaurants/wish">Wish list</a><br>

    <a href="/restaurants/reviews">Mis reseñas</a><br>

    <a href="/user/profile/edit/{{user.id}}">Editar mi perfil</a><br>

</div>
