
<a href="/restaurants/favs">Mis favoritos</a><br>

<a href="/restaurants/wish">Wish list</a><br>

<a href="/restaurants/visited">Visitados</a><br>

<a href="/user/profile/edit">Editar mi perfil</a><br>