<h2>Hola {{user.username}}!</h2>
<br>
<p>¿Dónde comemos hoy?</p>

<a href="/restaurants/favs">Mis favoritos</a><br>

<a href="/restaurants/wish">Wish list</a><br>

<a href="/restaurants/review">Mis reseñas</a><br>

<a href="/user/profile/edit/{{user.id}}">Editar mi perfil</a><br>