body {
  font: 14px ;
  font-family: 'Montserrat', sans-serif;

  
}

// .mainBody{
//   background: url('../images/backgroundImage.jpg');
//   background-size: cover;
//   object-fit: contain;
// }


nav {
  height: 80px; 
  position: fixed;  
  background-color: #f8f8f8;
  opacity: 80%;
}

nav img {
  height: 120px;
  margin-left: 20px;
}

h3{
  margin-top: 150px;
}



