<h1>Mis favoritos</h1>

<div class="row mx-auto">
{{#each array}}
<div class="card col-12 col-sm-12 col-md-6 col-lg-4">
  <div class="card-body">
    {{>wishFav}}
    <a href="/restaurants/favs/delete?id={{_id}}" class="btn btn-danger">Eliminar</a>
    <br>
  </div>
</div>
{{/each}}

</div>
<div class="row justify-content-center">
<a href="/restaurants/list"><button type="submit" class="btn btn-light btn-back">Volver a lista de restaurantes</button></a>
</div>
