<h1>WishList</h1>

<div class="row">
{{#each array}}
<div class="card col-md-4" style="width: 18rem;">
  <div class="card-body">
    {{>wishFav}}
    <a href="/restaurants/wish/delete?id={{_id}}" class="card-link">Eliminar</a>
    <br>
  </div>
</div>
{{/each}}


</div>


